@font-face {
    font-family: 'ApercuMono';
    src: url(fonts/ApercuMonoProRegular.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ApercuMono';
    src: url(fonts/ApercuMonoProBold.ttf) format(truetype);
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'Ogg';
    src: url(fonts/Ogg-Regular.otf) format(opentype);
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    background-color: #fff;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.logo {
    position: fixed;
    top: 60px;
    left: 50px;
    width: 100px;
    display: flex;
}

.content {
    display: flex;
    font-family: 'Ogg';
    font-size: 70px;
    color: #000;
    padding: 40px;
    margin-top: 160px;
    margin-right: 300px;
    margin-left: 30px;
    line-height: 1.2;
}

.vertical-tabs {
    font-family: 'Courier New';
    display: flex;
    flex-wrap: wrap;
    height: 820px;
    top: 0;
    right: 0;
    position: fixed;
}

.tab {
    flex-direction: column;
    display: flex;
    padding: 10px;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: black;
    width: 40px;
}

.tab .chino{
    color: black;
    margin-top: 50px;
    font-size: 20px;
}

.tab .word {
    writing-mode: vertical-rl;
    text-align: center;
    margin: auto;
    font-size: 21px;
}

.tab.food {
    background-color: #5ea3ec;
}

.tab.retail {
    background-color: #f64444;
}

.tab.community {
    background-color: #ffb400;
}

.tab span {
    margin-top: 10px;
}

br {
    height: 10px;
}

.image_estudio {
    margin-top: 50px;
    width: 1170px;
    left: 0;
}

.content2{
    display: flex;
    font-family: 'Ogg';
    font-size: 110px;
    color: #000;
    padding: 40px;
    margin-top: 50px;
    margin-right: 370px;
    margin-left: 30px;
}

.container_img{
    display: flex;
    flex-wrap: wrap;
    /*padding: 50px;*/
}

.container_img_txt{
    padding: 40px;
    flex-direction: column;
    width: 280px;
    font-family: 'ApercuMono';
    font-size: 13px;
}

.img_container_size {
    width: 300px;
}

.container2{
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

.content3{
    display: flex;
    font-family: 'Ogg';
    font-size: 75px;
    color: #000;
    width: 200px;
    line-height: 1.2;
}

.container2 .letras_chinas{
    font-size: 60px;
    color: white;
    -webkit-text-stroke: 0.5px #000;
}

.lineas_punteadas{
    display: flex;
    position: relative;
    border-bottom: 2px dashed black;
    border-top: 2px dashed black;
    padding: 5px;
    margin-left: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 80%;
    height: 1px; 
    justify-content: center;
}

.p_ApercuMono_fecha{
    font-family: 'ApercuMono';
    font-size: 12px;
    text-align: center;
}

.p_ApercuMono_content{
    font-family: 'ApercuMono';
    font-size: 16px;
    width: 280px;
    text-align: center;
}

.btn_see_all{
    border: 1px solid black;
    position: absolute;
    font-family: 'ApercuMono';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    cursor: pointer;
    background-color: white;
}

.btn_see_all:hover{
    background-color: black;
    color: white;
}

.container_punteado{
    width: 450px;
    margin-top: 50px;
    display: flex;
    border: 2px dashed black;
    align-items: center;
    justify-items: center;
}

.texto{
    font-family: 'Ogg';
    font-size: 60px;
    text-align: center;
    line-height: 1.3;
}

.width_height_texto{
    width: 450px;
    height: 300px;
}

.linea{
    margin-top: 40px;
    margin-left: 50px;
    width: 80%; /* Ancho de la línea */
    height: 10px; /* Grosor de la línea */
    background: repeating-linear-gradient(
        -60deg, /* Ángulo de las líneas */
        gray, /* Color inicial */
        gray 1px, /* Espesor de la línea negra */
        white 2px, /* Espesor del espacio blanco */
        white 4px /* Espaciado total */
    );
}

.container3{
    width: 80%;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Ogg';
    font-size: 45px;
    text-align: center;
}

.btn_click_here{
    margin: 0;
    width: 170px;
    border: 1px solid black;
    font-family: 'ApercuMono';
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
    background-color: white;
}

.btn_click_here:hover{
    background-color: black;
    color: white;
}

.p_margin{
    margin-bottom: 30px;
    margin-top: 50px;
}

.container_punteado2{
    display: flex;
    width: 300px;
    height: 180px;
    margin-top: 50px;
    flex-direction: column;
    border: 2px dashed black;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.container_punteado2 .texto{
    font-family: 'ApercuMono';
    font-size: 14px;
    text-align: center;
    width: 150px;
}

.fa-pencil {
    color: black;
    font-size: 30px;
}

.fa-facebook{
    color: black;
    font-size: 30px;
}

.fa-instagram{
    color: black;
    font-size: 30px;
}

.container_punteado3{
    display: flex;
    flex-wrap: wrap;
    width: 76%;
    height: 100px;
    margin-top: 50px;
    margin-left: 75px;
    flex-direction: column;
    border: 2px dashed black;
    justify-content: center;
    align-content: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.container_punteado3 .texto{
    font-family: 'ApercuMono';
    font-size: 22px;
    width: 260px;
    text-align: left;
}

.input_email{
    margin-left: 60px;
    width: 50%;
    height: 50px;
    font-family: 'ApercuMono';
    font-size: 14px;
    border-color: 2px black;
}

.footer_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin-bottom: 30px;
}
.footer_links2{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 200px;
}

.texto_tachado{
    text-decoration: line-through;
    margin-left: 5px;
}
.texto_footer{
    font-family: 'ApercuMono';
    font-size: 12px;
    font-weight: bold;
    color: black;
}