body {
    margin: 0;
    font-family: 'bodoni', serif;
    background-color: #fff;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.logo {
    position: absolute;
    top: 60px;
    left: 50px;
    width: 100px;
    display: flex;
}

.content {
    display: flex;
    font-family: 'Didot';
    font-size: 70px;
    color: #000;
    padding: 40px;
    margin-top: 160px;
    margin-right: 370px;
    margin-left: 30px;
}

.vertical-tabs {
    font-family: 'Courier New';
    display: flex;
    flex-wrap: wrap;
    height: 820px;
    top: 0;
    right: 0;
    position: absolute;
}

.tab {
    flex-direction: column;
    display: flex;
    padding: 10px;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: black;
    width: 40px;
}

.tab .chino{
    color: black;
    margin-top: 50px;
    font-size: 20px;
}

.tab .word {
    writing-mode: vertical-rl;
    text-align: center;
    margin: auto;
    font-size: 21px;
}

.tab.food {
    background-color: #5ea3ec;
}

.tab.retail {
    background-color: #f64444;
}

.tab.community {
    background-color: #ffb400;
}

.tab span {
    margin-top: 10px;
}

br {
    height: 10px;
}

.image_estudio {
    margin-top: 50px;
    width: 1170px;
    left: 0;
}